<div class="container">
	<h1>Welcome!</h1>
	<p>Enter the length of an array and then run alogorithm by pressig play. </p>
	<form class="">
		<div class="row">
			<div class="form-group col-md-3">
				<label for="length">Array Length</label>
				<input type="number" class="form-control" name="length" value=5>
			</div>
		</div>
		<div class="clearfix">
			<input type="submit" value="Create" class="btn btn-primary">
			
		</div>
	</form>
</div>